body {
    background-color: #EEE2DC;
    color: #4a4648;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-size: 15px;
    margin: 0px;
}

#left-column {
    padding: 20px 2rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#right-column {
    background-color: #EEE2DC;
    padding: 0rem 2rem;
    min-height: 100vh;
    margin-left: 10px;
}

h5 {
    color: #4a4648;
    font-weight: 300;
}

h1 {
    margin: 20px 0px;
    color: #123C69;
    font-weight: 800;
}

#intro {
    margin: 20px 0px;
    text-align: justify;
}

#control-card label {
    font-weight: bold;
}

#control-card {
background-color: #EDC7B7;
    border-radius: 0.675rem;
    padding: 1rem;
}

.graph_card {
    background-color: #EDC7B7;
    border-radius: 0.675rem;
    padding: 1rem;
    margin: auto;
    margin-top: 20px;
}

.graph_card h6 {
    margin:  0 7px;
    padding-bottom: 7px;
    border-bottom:  1px solid #ccc;
}

Hr {
    margin: 5px;
}